dist
node_modules
.terraform
.terraform.lock.hcl
.terragrunt-cache
*.pem
*.pub
common_vars.tf
jspm_packages
.serverless
.webpack
.idea
.idea/*
.classpath.txt
target
.classpath
.project
.settings
.vscode
*.iml
.cdk.staging
cdk.out
